*{
    margin: 0px auto;
    padding: 0px auto;
}

header{
    background-color: #e0e1ff;
}

.prikaz{
    background-image: url('../images/a.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 31%;
}

.bgpic{
    background-image: url('../images/register.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
}

.logo{
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo img{
    width: 40px;
    height: 40px;
}

.name h3{
    margin-top: 25px;
    color: #323580;
    text-align: center;
}

.naslov{
    color: snow;
    text-decoration: underline;
    margin-top: 10%;
    margin-left: 5%;
}

.dugmici{
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.dugmici a{
    color:#e0e1ff;
    background-color: #323580;
    border: 1px solid #e0e1ff;
    border-radius: 1em;
    margin-right: 10px;
}
.dugmici a:hover{
    color:#323580;
    background-color: #e0e1ff;
    border: 1px solid #323580;
}

footer{
    background-color: black;
    height: 50px;
    text-align: center;
    
    padding-top: 15px;
}

footer p{
    margin: 0px !important;
    color: #e0e1ff;
}

#dugme{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 200px;
    height: 50px;
    border-radius: 2px;
    background: #323580;
  
    
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

#dugmelog{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 200px;
    height: 50px;
    border-radius: 2px;
    background: #323580;
  
    
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.pitanje p{
    text-align: center;
}

.alert{
    display: none;
}

#calendar{
    margin-top: 50px;
    margin-bottom: 50px;
}

.fc-time{
    display: none;
}

#tabela {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#tabela td, #tabela th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}
  
#tabela tr:nth-child(even){background-color: #f2f2f2;}

#tabela tr:hover {background-color: #ddd;}

#tabela th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #323580;
    color: white;
}

#tabela td a{
    color: #323580;
}

.goforward{
    margin-bottom: 50px;
}

.goforward a{
    background-color: #323580;
    color: #e0e1ff;
}
.goforward a:hover{
    background-color: #323580;
    color: #e0e1ff;
}

.goback{
    text-align: center;
    margin-bottom: 40%;
}

.goback a{
    color: #e0e1ff;
}
.goback a:hover{
    color: #e0e1ff;
}

.dugmeback{
    background-color: #323580;
}

.fc-content{
    color: #e0e1ff !important;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #323580 !important;
    border: 1px solid #323580 !important;
}

.promena{
    text-align: center;
    margin-top: 23px;
    margin-bottom: 55%;
}

.promena p{
    padding-top: 20px;
}

.promena p a{
    color: #323580;
}